@page "/access"
<div class="d-flex flex-grow-1 justify-content-center" style="background-image: url(images/keys.jpg)">
    <div class="w-75 bg-white bg-opacity-50 flex-grow-0 mt-3 mb-5 p-2">
        <Login></Login>
    </div>
</div>

@code {

}