@page "/"
<div class="d-flex flex-grow-1 justify-content-center" style="background-image: url(images/background.jpg)">
    <div class="w-75 bg-white bg-opacity-50 d-flex justify-content-center flex-grow-0 mt-3 mb-5 p-5">
        <div id="carouselTopics" class="carousel slide w-50 h-50">            
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 rounded " src="/images/desktop.jpg" alt="desktop" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Desarrollo de aplicaciones de escritorio</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 rounded " src="/images/mobile.jpg" alt="mobile" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-black">Desarrollo de aplicaciones para dispositivos móviles</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 rounded " src="/images/web.jpg" alt="web" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Desarrollo de aplicaciones web</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 rounded " src="/images/proyectos.jpg" alt="gestion" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-black">Gestión de proyectos</h5>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTopics" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTopics" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="m-1 p-1">
            <p>Contamos con más de quince años de experiencia en el desarrollo de software</p>
            <p>Nuestros profesionales tienen conocimientos en el uso de las más modernas tecnologías del mercado.</p>
            <p>También tenemos experiencia en la dirección y gestión de proyectos de desarrollo de software</p>
        </div>
    </div>
</div>

