@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sycapps</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>*@

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item nav-item-dark px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-phone" aria-hidden="true"></span> La App
            </NavLink>
        </div>
        <div class="nav-item nav-item-dark px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-map" aria-hidden="true"></span> Mapa
            </NavLink>
        </div>
        <div class="nav-item nav-item-dark px-3">
            <NavLink class="nav-link" href="contactform">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contacto
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}